spring:
  datasource:


  jpa:
    hibernate:
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:


logging:
  level:
    com.api.user: DEBUG

  security:
    user:
