
spring:
  datasource:
    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/usermanagement}
    username: ${DATABASE-USERNAME = root }
    password: ${DATABASE-PASSWORD = password }
  


  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: ${PORT:9000}
  error:
    include-message: always
    include-binding-errors: always


logging:
  level:
    com.api.user: DEBUG

  security:
    user:
      name: admin
      password: admin
